
#aframeInspector
  #inspectorContainer

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    left 0px
    right 0px
    pointer-events none
    position fixed
    bottom 15px;
    z-index 999999

  #viewportBar
    align-items center
    display flex
    height 50px
    font-size 14px
    justify-content space-between
    margin 0 auto
    background-color: #f1f3f4;
    border-radius: 8px;
    box-shadow: 0px 0px 10px -9px #000, 0px 0px 10px -9px #000, 0px 0px 10px -9px #000;

  #viewportHud
    width: 200px;
