@import './lib';

#aframeInspector
  // @import './scenegraph';
  // @import './entity';
  // @import './select';
  @import './viewport';

  #inspectorContainer

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

    left 0px
    right 0px
    pointer-events none
    position fixed
    bottom 15px;
    z-index 999999
